*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #83C5BE;
    display: flex;
    padding: 0px 145px 0px 128px;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
h1{
    color:#FFFCF2;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#login{
    width: 750px;
    height: 300px;
    border-radius: 51.216px;
    border: 4.656px solid #FFB3C6;
    background: #FFE5EC;
    padding-top: 10px;
}
#login>label{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}

#login>input{
    width: 650px;
    height: 65px;
    border-radius: 18.624px;
    border: 4.656px solid #FFB3C6;
    background: #FFFCF2;
    margin-left: 30px;
}
#botao_login>button{
    width: 300px;
    height: 45px;
    border-radius: 58.98px;
    border: 6.939px solid #FFB3C6;
    background: #FFE5EC;
    margin-top:35px;
    margin-left: 200px;
}

#pagInicial>button{
    width: 300px;
    height: 45px;
    border-radius: 58.98px;
    border: 6.939px solid #FFB3C6;
    background: #FFE5EC;
}
#pagInicial>form>button{
    width: 300px;
    height: 45px;
    border-radius: 58.98px;
    border: 6.939px solid #FFB3C6;
    background: #FFE5EC;
}
.botao_inicio>a{
    text-decoration: none;
    padding: 10px 53px;
    border-radius: 58.98px;
    border: 6.939px solid #FFB3C6;
    background: #FFE5EC;
    color: black;
}
.botao_inicio>button{
    width: 300px;
    height: 45px;
    border-radius: 58.98px;
    border: 6.939px solid #FFB3C6;
    background: #FFE5EC;
}

#link_cadastro{
    color:black;
    padding-left: 249px;
}

#cadastro{
    width: 750px;
    height: 400px;
    border-radius: 51.216px;
    border: 4.656px solid #FFB3C6;
    background: #FFE5EC;
    padding-top: 15px;
}
#cadastro>input{
    width: 650px;
    height: 65px;
    border-radius: 18.624px;
    border: 4.656px solid #FFB3C6;
    background: #FFFCF2;
    margin-left: 50px;
}
#cadastro>label{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
}
#botao_cadastro>button{
    width: 300px;
    height: 45px;
    border-radius: 58.98px;
    border: 6.939px solid #FFB3C6;
    background: #FFE5EC;
    margin-top:35px;
    margin-left: 200px;
}

#link_login{
    color:black;
    padding-left: 249px;
}